@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none;
  overflow: hidden;
}

@theme {
  --color-cream: #d6d2d1;
}

.site-width {
  @apply w-full px-12 mx-auto;
}

.text-up span {
  display: inline-block;
  will-change: transform;
}

.text-up .line {
  overflow: hidden;
}
